// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial,helvetica, sass-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

h1 {
  margin: 17.42px 0;
}

th {
  padding: 1px 1px 5px;
}

td {
  padding: 1px 5px 7px;
}

h2 {
  margin: 16.185px 0;
}

div {
  display: block;
}

div.field {
  margin-bottom: 10px;
}

label {
  display: block;
}

.actions {
  margin_bottom: 10px;
}

// フラッシュメッセージ //
#notice {
color: green;
}


// エラーメッセージ //
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin_bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weiht: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin_bottom: 0;
  background-color: #c00;
  color: #fff;
}

ul {
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.field_with_errors {
  background-color: red;
  padding: 2px;
  display: table;
}